/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====HELPER COLORS====*/
/*.main-header {
  background-color: yellow;
}

.content {
  background-color: aqua;
}

.post {
 background-color: rgba(215, 163, 193, 0.6);
}*/

/*====BASE STYLES====*/
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img,
.main-header, .content {
    margin-bottom: 0.5rem;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 0.125rem;
  line-height: 1.3rem;
  background-color: blanchedalmond;
}

h1, h2 {
  font-family: 'Caudex', serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.125rem;
  padding-left: 0.625rem;
  padding-top: 0.3125rem;
}

#header-text {
  font-size: 1.0625rem;
}

/*Main header styles*/
.main-header {
  text-align: right;
  padding: 1.25rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(7, 115, 122, 1);
  letter-spacing: 0.125rem;
  line-height: 1.3rem;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .main-header {
    position: fixed;
    top: 0;
    height: 100%;
    width: 33.3%;
  }
}

@media (min-width: 1025px) {
  .main-header {
    width: 20.625%;
  }
}

/*Main article styles*/
.post {
  width: 95%;
  margin: 0 auto 2rem;
  border-bottom: 4px dashed rgba(7, 115, 122, 1);
}

/*Primary content wrapper styles*/
@media (min-width: 768px) {
  .content {
    float: right;
    width: 66.6%;
    max-width: 812px;
  }
} 

@media (min-width: 1025px) {
  .content {
    float: none;
    position: absolute;
    left: 20.625%;
  }
}

/*Main content styles*/
p {
  padding-left: 0.625rem;
}

.picture {
  width: 50%;
  height: auto;
  margin-left: 3%;
  margin-bottom: 2%;
  border: 5px solid rgba(7, 115, 122, 1);
  border-radius: 30px;
}


#fox {
  width: 100%;
  height: auto;
}

.links {
  margin-left: 3%;
  margin-bottom: 2rem;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}

i {
  padding: 0.5rem;
  color: rgba(7, 115, 122, 1);
}

i:hover {
  transform: scale(1.2);
  filter: drop-shadow(8px 8px 8px grey);
}

#location {
  color: white;
}

figure {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

figure iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.lang {
  color: rgba(7, 115, 122, 1);
  font-weight: 900;
  padding-left: 2rem
}

a {
  color: rgba(7, 115, 122, 1);
  text-decoration: none;
}

a:hover {
  color: lightcoral;
}